:root {
  --c-primary: #519dd0;
  --c-primary-light: #91c2e3;
  --c-primary-dark: #1a7bbc;
  --c-bg: #fff;
  --c-white: #fff;
  --c-white2: #ccc;
  --c-danger: #f15e5e;
  --c-body: #333333;
  --c-body2: #3e3f48;
  --c-border: #5c93bb2b;
  --box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  --box-shadow-light: rgb(0 0 0 / 8%) 0px 6px 16px;
}

html[data-theme='light'] {
  --c-primary: #519dd0;
  --c-primary-light: #91c2e3;
  --c-primary-dark: #1a7bbc;
  --c-bg: #fff;
  --c-white: #fff;
  --c-white2: #ccc;
  --c-danger: #f15e5e;
  --c-body: #333333;
  --c-body2: #3e3f48;
  --c-border: #5c93bb2b;
  --box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  --box-shadow-light: rgb(0 0 0 / 8%) 0px 6px 16px;
}

html[data-theme='dark'] {
  --c-primary: #f15e5e;
  --c-primary-light: #91c2e3;
  --c-primary-dark: #1a7bbc;
  --c-bg: #1f2428;
  --c-white: #fff;
  --c-white2: #ccc;
  --c-danger: #f15e5e;
  --c-body: #fff;
  --c-body2: #ccc;
  --c-border: #ccc;
  --box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  --box-shadow-light: rgb(0 0 0 / 8%) 0px 6px 16px;
}
